<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>ReservationService</title>
    <!--css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='client1.css') }}">
    <!--js-->
    <script href="{{ url_for('static', filename='client1.js') }}">
    </script>

</head>
<body>

<div class="wrap">
    <h1 class="headline">상담 예약 프로그램</h1>

    <div class="info">
        <p>클릭하여 원하는 날짜와 시간을 선택하여 상담 일정을 잡아주세요!</p>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text Boxplot">이름*</label>
        </div>

        <input type="text" class="form-control input-box" id="studentName" aria-label="Default"
               aria-describedby="inputGroup-sizing-default" placeholder="이름을 입력해 주세요.">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text Boxplot">학년*</label>
        </div>
        <select class="custom-select input-box" id="studentGrade">
            <option selected class="Box_Words">자녀의 학년을 선택하세요.</option>
            <option value="1">초1</option>
            <option value="2">초2</option>
            <option value="3">초3</option>
            <option value="3">초3</option>
            <option value="3">초4</option>
            <option value="3">초5</option>
            <option value="3">초6</option>
            <option value="3">중1</option>
            <option value="3">중2</option>
            <option value="3">중3</option>
            <option value="3">고1</option>
            <option value="3">고2</option>
            <option value="3">고3</option>
        </select>
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text Boxplot">주소*</label>
        </div>
        <input type="text" class="form-control input-box" id="studentAddress" aria-label="Default"
               aria-describedby="inputGroup-sizing-default">
    </div>

        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text Boxplot">휴대폰 번호*</label>
        </div>

        <input type="tel" class="form-control input-box" id="tlno" name="tlno" aria-label="Default" title="전화번호를 입력하세요." placeholder="010-0000-0000"
               aria-describedby="inputGroup-sizing-default" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}" maxlength="13">
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text Boxplot">과목*</label>
        </div>
        <select class="custom-select input-box" id="subjectSelect">
            <option selected class="Box_Words">상담과목을 선택해 주세요.</option>
            <option value="1">수학</option>
            <option value="2">국어</option>
            <option value="3">과학</option>
            <option value="3">영어</option>
            <option value="3">전과목</option>
            <option value="3">특강</option>
            <option value="3">기타</option>
        </select>
    </div>

    <div class="input-group mb-3">

        <div class="input-group-prepend">
            <label class="input-group-text Boxplot">예약된 날짜 / 시간*</label>
        </div>
        <input type="date" class="form-control timeMargin input-box" id="dateBox" name="trip-start"
               min="2020-08-10" max="2020-12-31">
        <input type="time" class="form-control timeMargin input-box" id="timeBox">
    </div>

<!--    <div class="input-group mb-3">-->
<!--        <div class="input-group-prepend Boxplot">-->
<!--            <span class="input-group-text">특이사항</span>-->
<!--        </div>-->
<!--        <textarea class="form-control" id="specialNote"-->
<!--                  cols="30"-->
<!--                  rows="5" placeholder="140자까지 입력할 수 있습니다." onkeyup="validateLength(this)"></textarea>-->
<!--    </div>-->

    <div><p class="notice">* 내용들은 필수 입력 항목입니다.</p></div>


    <div class="order">
        <button onclick="Reservation()" type="button" class="btn btn-primary order-box">예약하기</button>
        <button onclick="document.location.href='tel:010-9804-5625'" type="button" class="btn btn-primary order-box">전화하기</button>
    </div>

    <div class="orders">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">날짜 / 시간</th>
                <th scope="col">학교</th>
                <th scope="col">학년</th>
                <th scope="col">과목</th>
            </tr>
            </thead>
            <tbody id="orders-box">
            </tbody>
        </table>
    </div>
</div>




</body>
</html>